@font-face {
  font-family: "iconfont"; /* Project id 3262299 */
  src: url("//at.alicdn.com/t/font_3262299_s9i3ocs7m4.woff2?t=1647776707808")
      format("woff2"),
    url("//at.alicdn.com/t/font_3262299_s9i3ocs7m4.woff?t=1647776707808")
      format("woff"),
    url("//at.alicdn.com/t/font_3262299_s9i3ocs7m4.ttf?t=1647776707808")
      format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jian:before {
  content: "\e620";
}

.icon-xiala:before {
  content: "\e6b9";
}
