@font-face {
  font-family: "iconfont"; /* Project id 3262299 */
  src: url("//at.alicdn.com/t/font_3262299_ecmvkxdimz.woff2?t=1647945451534")
      format("woff2"),
    url("//at.alicdn.com/t/font_3262299_ecmvkxdimz.woff?t=1647945451534")
      format("woff"),
    url("//at.alicdn.com/t/font_3262299_ecmvkxdimz.ttf?t=1647945451534")
      format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shangla:before {
  content: "\e601";
}

.icon-shangla1:before {
  content: "\e602";
}

.icon-shangyi:before {
  content: "\e600";
}

.icon-jian:before {
  content: "\e620";
}

.icon-xiala:before {
  content: "\e6b9";
}
