@mixin button-size($padding-y, $padding-x, $font-size, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  border-radius: $border-radius;
}
@mixin button-style(
  $background,
  $border,
  $color,
  $hover-background: lighten($background, 7.5%),
  $hover-border: lighten($border, 10%),
  $hover-color: $color
) {
  color: $color;
  background-color: $background;
  border-color: $border;
  &:hover {
    color: $hover-color;
    background: $hover-background;
    border-color: $hover-border;
  }
  &:focus,
  & .focus {
    color: $hover-color;
    background: $hover-background;
    border-color: $hover-border;
  }
  &:disabled,
  &.disabled {
    color: $hover-color;
    background: $background;
    border-color: $border;
  }
}
@mixin Alert-style($color, $bg-color) {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  color: $color;
  background-color: $bg-color;
  position: relative;
  padding: 15px;
  border-radius: 15px;
  text-align: left !important;
  > .title-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    > .title {
      font-size: 18px;
      font-weight: 700;
    }
    > .close {
      width: 15px;
      height: 15px;
      font-size: 20px;
      line-height: 15px;
      font-weight: 700;
      cursor: pointer;
    }
  }

  > .description {
    width: 460px;
    font-size: 14px;
  }
}
@mixin left_center {
  left: 50%;
  transform: translateX(-50%);
}
