// common
.flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
// 按钮
.btn {
  position: relative;
  display: inline-block;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  color: $body-color;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  border: $btn-border-width solid transparent;
  @include button-size(
    $btn-padding-y,
    $btn-padding-x,
    $btn-font-size,
    $border-radius
  );
  cursor: pointer;
  transition: $btn-transition;
  .disabled,
  &[disabled] {
    opacity: $btn-disabled-opacity;
    cursor: not-allowed;
    box-shadow: none;
    > * {
      pointer-events: none;
    }
  }
}

.btn-lg {
  @include button-size(
    $btn-padding-y-lg,
    $btn-padding-x-lg,
    $btn-font-size-lg,
    $btn-border-radius-lg
  );
}
.btn-sm {
  @include button-size(
    $btn-padding-y-sm,
    $btn-padding-x-sm,
    $btn-font-size-sm,
    $btn-border-radius-sm
  );
}
.btn-primary {
  @include button-style($primary, $primary, $white);
}
.btn-danger {
  @include button-style($danger, $danger, $white);
}
.btn-default {
  @include button-style(
    $white,
    $gray-400,
    $body-color,
    $white,
    $primary,
    $primary
  );
}
.btn-link {
  font-weight: $font-weight-normal;
  color: $btn-link-color;
  text-decoration: $link-decoration;
  box-shadow: none;
  &:hover {
    color: $btn-link-hover-color;
  }
  &:focus,
  &.focus {
    text-decoration: $link-hover-decoration;
    box-shadow: none;
  }
  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
    pointer-events: none;
  }
}
// Alert
.Alert-primary {
  @include Alert-style($white, $primary);
}
.Alert-success {
  @include Alert-style($white, $success);
}
.Alert-default {
  @include Alert-style($white, $gray-400);
}
.Alert-danger {
  @include Alert-style($white, $danger);
}
.Alert-info {
  @include Alert-style($white, $info);
}

.m-2 {
  margin: 20px;
}

// 其他
.top-0 {
  top: 0;
}
.left-0 {
  left: 0;
}
.right-0 {
  right: 0;
}
.bottom-0 {
  bottom: 0;
}
.position-fixed {
  position: fixed;
}
.left-center {
  @include left_center(); //transition 居中
}
// Menu
.Menu {
  .Sub-menu {
    cursor: pointer;
    list-style: none;
    position: relative;
    .submenu-title {
      display: flex;
      align-items: center;
      .xiala {
        width: 20px;
      }
    }
    .arrow-icon {
      transition: transform 0.25s ease-in-out;
      margin-left: 3px;
    }
    &:hover {
      .arrow-icon {
        transform: rotate(180deg);
      }
      color: $menu-item-active-color !important;
    }
    .is-vertical {
      transform: rotate(0deg) !important;
    }
  }
  .SubMenu-wrap {
    // display: none;
    list-style: none;
    padding-left: 0;
    white-space: nowrap;
    //transition: $menu-transition;
    .Menu-item {
      padding: $menu-item-padding-y $menu-item-padding-x;
      cursor: pointer;
      transition: $menu-transition;
      color: $body-color;
      &.is-active,
      &:hover {
        color: $menu-item-active-color !important;
      }
    }
  }
  // .Menu-open {
  //   display: block !important;
  // }
}
.vertical-active {
  .submenu-title {
    .is-vertical {
      transform: rotate(180deg) !important;
    }
  }
}
.Menu-vertical {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  .Menu-item {
    font-size: 16px;
    padding: $menu-item-padding-y $menu-item-padding-x;
    list-style: none;
    transition: $menu-transition;
    &:hover {
      text-decoration: none;
      cursor: pointer;
      color: $menu-item-active-color;
      border-left: $menu-item-active-border-width solid $menu-item-active-color;
    }
    &.Menu-active {
      color: $menu-item-active-color;
      border-left: $menu-item-active-border-width solid $menu-item-active-color;
    }
    &.Menu-disabled {
      pointer-events: none;
      cursor: default;
      color: $menu-item-disabled-color;
    }
  }
  .submenu-title {
    padding: $menu-item-padding-y $menu-item-padding-x;
    &:hover {
      border-left: $menu-item-active-border-width solid $menu-item-active-color;
    }
  }

  .SubMenu-wrap {
    // margin-left: 20px;
    z-index: 100;
    .Menu-item {
      padding-left: 30px !important;
    }
  }
}

.Menu-horizontal {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  .Menu-item {
    font-size: 16px;
    padding: $menu-item-padding-y $menu-item-padding-x;
    box-shadow: $menu-box-shadow;
    list-style: none;
    transition: $menu-transition;
    &:hover {
      text-decoration: none;
      cursor: pointer;
      color: $menu-item-active-color;
    }
    &.Menu-active {
      color: $menu-item-active-color;
      border-bottom: $menu-item-active-border-width solid
        $menu-item-active-color;
    }
    &.Menu-disabled {
      pointer-events: none;
      cursor: default;
      color: $menu-item-disabled-color;
    }
  }
  .SubMenu-wrap {
    position: absolute;
    background: $white;
    z-index: 100;
    top: calc(100% + 8px);
    left: 0;
    border: $menu-border-width solid $menu-border-color;
    box-shadow: $submenu-box-shadow;
  }
  .Sub-menu {
    padding: $menu-item-padding-y $menu-item-padding-x;

    &:hover {
      border-bottom: $menu-item-active-border-width solid
        $menu-item-active-color;
    }
  }
}
.border-bottom {
  border-bottom: $menu-item-active-border-width solid $menu-item-active-color;
}
.border-left {
  .submenu-title {
    border-left: $menu-item-active-border-width solid $menu-item-active-color;
  }
}
// Tabs
@keyframes dragUpAnimation {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}
@keyframes dragDownAnimation {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px);
  }
}

.Tabs {
  &-title {
    display: flex;
    align-items: center;
    padding-left: 0;
    width: 100%;
    border-bottom: 1px solid $gray-400;
    .TabItem {
      cursor: pointer;
      list-style: none;
      padding: $menu-item-padding-y 25px;
      font-size: 16px;
      font-weight: 700;
      &:hover {
        background: $gray-200;
        text-decoration: underline;
      }
    }
    .TabItem-active {
      cursor: pointer;
      color: $primary;

      border: 1px solid $gray-400;
      border-bottom: none;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
  }
  &-bottom {
    padding: 15px;
    position: relative;
  }
  &-mb {
    margin-bottom: 40px;
  }
}
.down {
  text-align: right;
  opacity: 0;
  animation: appear 1s linear 0.6s;
  animation-fill-mode: forwards;
  .iconfont {
    &:hover {
      cursor: pointer;
      animation: dragDownAnimation 0.8s linear infinite;
    }
  }
}
.up {
  opacity: 0;
  position: absolute;
  transform:translateX(-50%);
  left: 50%;
  padding: 10px;
  animation: _appear 1s linear 0.6s;
  animation-fill-mode: forwards;
  .iconfont {
    &:hover {
      cursor: pointer;
      animation: dragUpAnimation 0.8s linear infinite;
    }
  }
}
.opacity {
  opacity: 1;
}
// Input 
.Input {
  padding: $input-padding-y $input-padding-x;
  background-color: $input-bg;
  border:  $input-border-width solid $input-border-color;
  font-size: $input-font-size;
  border-radius: 5px;
  display: block;
  width: 100%;
}
.Input:focus {
  outline: none;
  background-color: $input-focus-bg;
  // box-shadow: $input-focus-box-shadow;
}


.Input-sm {
  @include input_size($input-padding-y-sm,$input-padding-x-sm,$input-font-size-sm)
}
.Input-lg {
  @include input_size($input-padding-y-lg,$input-padding-x-lg,$input-font-size-lg)
}
.Input_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}
.Input_wrapper  {
  .Input_prepand {
    // width: 20%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .Input_append {
    // width: 20%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
.wrapper_prepand  {
  
  .Input {
    width: 80%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
.wrapper_append  {
  .Input {
    // width: 80%;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
.wrapper_prepand, .wrapper_append {
  .Input {
    // width: 60%;
  }
  .Input-disabled {
    background-color: $input-group-addon-bg;
    color: $gray-500;
  }
}
.Input_prepand,
.Input_append {
  display: flex;
  align-items: center;
  padding: $input-padding-y $input-padding-x;
  margin-bottom: 0; // Allow use of <label> elements by overriding our default margin-bottom
  font-size: $input-font-size; // Match inputs
  font-weight: $font-weight-normal;
  line-height: $input-line-height;
  color: $input-group-addon-color;
  text-align: center;
  white-space: nowrap;
  background-color: $input-group-addon-bg;
  border: $input-border-width solid $input-group-addon-border-color;
  border-radius: $input-border-radius;
}
.AutoComplete {
  position: relative;
  height: 100%;
  width: 100%;
  .AutoComplete_list {
    position: absolute;
    left: 0; 
    right: 0;
    top: 105%;
    z-index: 2;
    border: $input-border-width solid $input-border-color;
    border-radius: $input-border-radius;
    background-color: white;
    padding: 5px;
    
   >li {
     list-style: none;
     display: flex; 
     align-items: center;
     justify-content: center;
   }
    >li * {
      
      white-space:nowrap;
      overflow:hidden;
      text-overflow:ellipsis;
    }
    .Focus_item {
      list-style: none;
      color: $primary;
    }
  }
}
.List {
  padding: 10px 20px;

  .List_border {
    border-bottom: 1px solid $gray-400;
  }
  .List_middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.Upload {
  &-success {
    svg {
      color: $primary;
    }
  }
  &-fail {
    svg {

    color: $danger;
    }
  }
  // &-ready {

  // }
}
.UploadList {
  border-radius: 5px;
  padding: 10px;
  display: flex;
  
  justify-content: space-between;
  &:hover {
    background: $gray-200;
  }
  .UploadList-left {
    display: flex;
    
  }
  .UploadList-right {
    width: 20%;
    text-align: right;
    .Upload-delete {
      display: none;
    }
  }
  .UploadList-right:hover {
    text-align: right;
    cursor: pointer;
    .Upload-delete {
      display: block;
    }
    .Upload-Icon {
      display: none;
    }
  }
}

.Progress-bar-outter {
  position: relative;
  border-radius: 10px;
  background-color: $gray-200;
  .Progress-bar-inner {
    border-radius: 10px;
    text-align: right;
    position: absolute;
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    &-text {
      position: relative;
      z-index: 50;
      color: #fff;
      font-weight: 600;

    }
    .Progress-bar-bg {
      animation: blink 1.2s ease-in-out infinite;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      border-radius: 10px;
    }
    .Progress-bar-drag {
      
      transform: none !important;
      z-index: 3;
      position: absolute;
      top: 0;
      bottom: 0;
      right: -10px;
      background-color: $primary;
      &-dot {
      transform: none !important;

        position: absolute;
        top: -8px;
        bottom: -8px;
        width: 16px;
        right: 0;
        background-color: $gray-400;
      }
    }
  }
}